<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvendido</title>
</head>
<body>
<h1>administracion de personas</h1>

<div>
    Número de personas: {{no_personas}}
</div>
<div>
    <a href="nueva_persona">Agregar Persona</a>
</div>

<div>


    <table border="1" bgcolor="lightgreen">

        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Domicilio</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for persona in personas %}
        <tr>
            <td> {{persona.id}}</td>
            <td> {{persona.nombre}} {{persona.apellido}}</td>
            <td> {{persona.email}}</td>
            <td> {{persona.domicilio}}</td>
            <td><a href="detalle_persona/{{persona.id}}">Ver </a></td>
            <td><a href="editar_persona/{{persona.id}}"> Editar </a></td>
            <td><a href="eliminar_persona/{{persona.id}}"> Eliminar </a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>


    <br>
    <br>

</div>
<div>
    Número de Domicilios: {{no_domicilios}}
</div>
<div>
    <a href="nuevo_domicilio">Agregar Domicilio</a>
</div>
<div>


    <table border="1" bgcolor="lightgreen">

        <thead>
        <tr>
            <th>Id</th>
            <th>Domicilio</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for domicilio in domicilios %}
        <tr>
            <td> {{domicilio.id}}</td>
            <td> {{domicilio.calle}} {{domicilio.no_calle}} {{domicilio.pais}}</td>

            <td><a href="detalle_domicilio/{{domicilio.id}}">Ver </a></td>
            <td><a href="editar_domicilio/{{domicilio.id}}"> Editar </a></td>
            <td><a href="eliminar_domicilio/{{domicilio.id}}"> Eliminar </a></td>
        </tr>

        {% endfor %}
        </tbody>
    </table>


</div>
</body>
</html>
